@font-face {
	font-family: "AkrobatRegular";
	src: url("../fonts/Akrobat/akrobat-regular.eot");
	src: url("../fonts/Akrobat/akrobat-regular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Akrobat/akrobat-regular.woff") format("woff"),
		 url("../fonts/Akrobat/akrobat-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AkrobatRegular";
	src: url("../fonts/Akrobat/akrobat-regular.eot");
	src: url("../fonts/Akrobat/akrobat-regular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Akrobat/akrobat-regular.woff") format("woff"),
		 url("../fonts/Akrobat/akrobat-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
