*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
}
body {
    background: url("../img/line.png") 50% 50%;
}
/*LOADER закомментил за ненадобностью*/
/*html.js .loader {*/
	/*background: none repeat scroll 0 0 #ffffff;*/
	/*bottom: 0;*/
	/*height: 100%;*/
	/*left: 0;*/
	/*position: fixed;*/
	/*right: 0;*/
	/*top: 0;*/
	/*width: 100%;*/
	/*z-index: 9999;*/
/*}*/
/*html.js .loader_inner {*/
	/*background-image: url("../img/preloader.gif");*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-color: #fff;*/
	/*height: 60px;*/
	/*width: 60px;*/
	/*margin-top: -30px;*/
	/*margin-left: -30px;*/
	/*left: 50%;*/
	/*top: 50%;*/
	/*position: absolute;*/
/*}*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
b {
    font-weight: bold;
}
body {
	font-family: sans-serif;
	font-size: 20px;
	min-width: 320px;
	position: relative;
	/*line-height: 1.6;*/
	font-family: AkrobatRegular, sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
}
.hidden {
	display: none;
}
.wrapper {
    width:1210px;
    margin:auto;
}
h1 {
	width:941px;
	margin: auto;
	font-size: 60px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.5px;
	text-align: center;
	color: #ffffff;
}
h2 {
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    text-align: center;
}
h2.orange {
    font-size: 150px;
    letter-spacing: 3.8px;
    color: #ff4e00;
    font-weight: 900;
    text-align: left;
}
h2.h2_white {
    color: white;
}
h2.h2_left {
    text-align: left;
}
h2.h2_colors {
    margin-bottom:30px;
}
h2.h2_services {
    margin-bottom:27px;
}
h2.h2_reviews {
    margin-bottom: 31px;
}
h3 {
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: left;
}
h3.h3_control {
    text-align: center;
}
h4 {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: left;
}

header {
	width: 100%;
	height: 90px;/*Пока не надо*/
	overflow: hidden;
}
.banner-top {
	height:826px;
	padding:248px 0 0 0;
	background: url("../img/banner-top.png") no-repeat;
	background-size: cover;
	color: #ffffff;
}
.fixed-top {
	padding:13px 50px 0 50px;
	position: fixed;
	top:0;
	width:100%;
	height:90px;
	background: #ffffff;
	overflow: hidden;
    z-index: 1000;
}
.header-logo {
	float: left;
}
.header-descr {
	display: block;
	margin: 16px 0 0 11px;
	font-size: 16px;
	float: left;
}
.header-menu {
	display: inline-block;
	float: right;
	margin:24px 85px 0 0;
}
.header-menu__item {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 0 7px;
	color: black;
}
.header-menu__item .dg-link {
	color: #282828;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.header-menu__item:hover .dg-link {
	color: #ff4e00;
}
.dg-link {
	color: #ffffff;
}
.dg-link.black {
	color: #282828;
}
.dg-link.underline {
    text-decoration: underline;
}
.dg-link.dg-link_fr {
    display: block;
    text-align: right;
    width: 276px;
    margin-bottom: 36px;
}
.header-contacts {
	margin:20px 0 0 0;
	display: inline-block;
	float: right;
	font-size: 24px;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.6px;
}
.header-contacts__time {
	text-align: right;
	font-size: 18px;
	font-weight: normal;
}
.banner-top__description {
	width:590px;
	margin: 20px auto auto auto;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.8px;
	text-align: center;
}
.angle {
    position: relative;
    padding:5px;
    overflow: hidden;
}
.angle-tl::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 17px;
    left: 0;
    top: 0;
    background: url(../img/angle-tl.png)52% 50% no-repeat;
}
.angle-tr::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 17px;
    right: 0;
    top: 0;
    background: url(../img/angle-tr.png)52% 50% no-repeat;
}
.angle-bl::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 18px;
    left: 0;
    bottom: 0;
    background: url(../img/angle-bl.png)52% 46% no-repeat;
}
.angle-bla::after {
    position: absolute;
    content: '';
    width: 17px;
    height: 18px;
    left: 0;
    bottom: 0;
    background: url(../img/angle-bl.png)52% 46% no-repeat;
}
.angle-br::after {
    position: absolute;
    content: '';
    width: 17px;
    height: 18px;
    right: 0;
    bottom: 0;
    background: url(../img/angle-br.png)52% 46% no-repeat;
}
.angle-brb::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 18px;
    right: 0;
    bottom: 0;
    background: url(../img/angle-br.png)52% 46% no-repeat;
}
.actions {
    overflow: hidden;
    margin-top:200px;
}
.actions-descr {
    padding: 32px 0 0 60px;
    float: left;
    width: calc(100% - 405px);
}
.actions-descr__header { }
.action-top__container {
    overflow: hidden;
}
.actions-descr__header_small {
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.8px;
    color: #ff4e00;
}
.actions-descr__text {
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.8px;
    text-align: left;
    margin-top:30px;
}
.actions-descr__text span {
    font-weight: bold;
}
.actions-form {
    float: right;
    width: 393px;
    height: 486px;
    background:url("../img/form-bg.png") no-repeat;
    padding:104px 57px 0 57px;
}
.actions-form__descr {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
    padding-bottom: 9px;
    display: block;
}
.dg-input {
    width: 276px;
    height: 40px;
    margin:10px 0;
    padding: 0 0 0 37px;
}
.dg-button {
    width: 275px;
    height: 50px;
    background-color: #ff4e00;
    color: #ffffff;
    border: none;
    text-align: left;

    padding:0 0 0 37px;
}
.dg-button.dg-button__reviews {
    margin-left:601px;
}
.actions-menu {
    overflow: hidden;
    margin:10px 0 160px 0;
}
.actions-menu__item {
    width: calc(33.3% - 6px);
    height: 284.6px;
    display: table;
    float: right;
    text-align: center;
}
.actions-menu__item.actions-menu__item_margin {
    margin: 0 10px 0 0;
}
.actions-menu__item.actions-menu__item_bg-board {
    background: url("../img/board-bg.png") no-repeat;
    background-size: cover;
}
.actions-menu__item.actions-menu__item_bg-washing {
    background: url("../img/washing-bg.png") no-repeat;
    background-size: cover;
}
.actions-menu__item.actions-menu__item_bg-delivery {
    background: url("../img/delivery-bg.png") no-repeat;
    background-size: cover;
}

.actions-menu__descr {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.8px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
}
.portfolio .wrapper {
    margin-top:28px;
}

.gallery {
    margin-top:20px !important;
    margin-bottom:50px !important;
}
.gallery { }
.countertops {

}
.wash { }
.wallpanels { }
.calculate { }
.calculate-form { }
.calculate-tabs { }
.advantages-nav {
    margin-top:48px;
}
.advantages-nav a {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    color: #232323;
}
.advantages-nav a:hover {
    color: #ff4e00;
}
.advantages-li {
    margin-bottom:10px;
}
.advantages-li_1 {
    background: url(../img/ico-adv1.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_1:hover, .advantages-li_1.active {
    background: url(../img/ico-adv1_h.png)-1% 0% no-repeat;
}
.advantages-li_2 {
        background: url(../img/ico-adv2.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_2:hover,.advantages-li_2.active  {
    background: url(../img/ico-adv2_h.png)-1% 0% no-repeat;
}
.advantages-li_3 {
        background: url(../img/ico-adv3.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_3:hover, .advantages-li_3.active{
    background: url(../img/ico-adv3_h.png)-1% 0% no-repeat;
}
.advantages-li_4 {
        background: url(../img/ico-adv4.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_4:hover, .advantages-li_4.active{
    background: url(../img/ico-adv4_h.png)-1% 0% no-repeat;
}
.advantages-li_5 {
        background: url(../img/ico-adv5.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_5:hover, .advantages-li_5.active{
    background: url(../img/ico-adv5_h.png)-1% 0% no-repeat;
}
.advantages-li_6 {
        background: url(../img/ico-adv6.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_6:hover, .advantages-li_6.active{
    background: url(../img/ico-adv6_h.png)-1% 0% no-repeat;
}
.advantages-li_7 {
        background: url(../img/ico-adv7.png)-1% 0% no-repeat;
    padding: 5px 0 5px 36px;
}
.advantages-li_7:hover,.advantages-li_7.active{
    background: url(../img/ico-adv7_h.png)-1% 0% no-repeat;
}
.advantages {
    height:697px;
    overflow: hidden;
    position: relative;
    margin-bottom:268px;
}
.advantages_video {
    top:0;
    right:0;
    width:50%;
    height:100%;
    position: absolute;
}
.advantages__nav {
    width: 50%;
    height: 687px;
    float: left;
    padding:38px 0px 0px 50px;
    letter-spacing: 0.5px;
}
.color {
    height:692px;
    padding:60px 0;
    background: url("../img/colors-bg.png") no-repeat;
}
.h2-white { }
.color-brand {
    width:460px;
    overflow: hidden;
}
.color-brand__item {
    width: 133px;
    height: 113px;
    background: #ffffff;
    float: left;
    margin:0 20px 48px 0;
}
.color-descr {
    margin-bottom:20px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
}
.services {
    margin:207px 0 214px 0;
}
.measurements {
    height: 400px;
    margin:0 0 10px 0;
    padding:51px 0 0 51px;
    background: url("../img/measurments-bg.png") no-repeat;
}
.white-list {
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.5px;
    list-style: disc;
    padding-left: 19px;
    margin-bottom:28px;
}
.white-list.white-list_production {
    width:415px;
}
.white-list.white-list_black {
    color: #232323;
}
.production {
    height: 755px;
    background: url("../img/production-bg.png") no-repeat;
    overflow: hidden;
    margin-bottom:59px;
 }
.production-descr {
    height: 755px;
    width:50%;
    float: left;
    padding: 72px 0 0 51px;
    background-color: #ff4e00;
}
.production__sertificate {
    width: 224px;
    height: 321px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 2px 49px 0 #dc4401;
    margin-right:37px;
}
.production__sert-descr {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.5px;
    color: white;
    padding:50px 0 0 0;
}
.h1 { }

.main-slider {

}
.main-slider .slick-prev, .main-slider .slick-next {
    width: 68px;
    height: 50px;
    background: #ff4e00;
}
.main-slider .slick-prev {
    left:0;
    z-index: 1;

}
.main-slider .slick-next {
    right:0;
    z-index: 1;
}
.main-slider .slick-prev:before {
    content: '';
    width:36px;
    height:36px;
    background: url(../img/arrow-left.png) no-repeat;
    position: absolute;
    top: 9px;
    left: 16px;
}
.main-slider .slick-next:before {
    content: '';
    width:36px;
    height:36px;
    background: url(../img/arrow-right.png) no-repeat;
    position: absolute;
    top: 9px;
    left: 16px;

}


.production-slider {
    float: left;
    width:50%;
    height:755px;
    position: relative;
}
.control {
    overflow: hidden;
    margin:0px 0 93px 0;
}
.control-item {
    width:33.3%;
    height:158px;
    float: left;
    display: table;
    position: relative;
    margin:32px 0 0px 0;
}
.control-item__descr {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.control-item__descr_bg1 {
    background: url("../img/1.png") center no-repeat;
}
.control-item__descr_bg2 {
    background: url("../img/2.png") center no-repeat;
}
.control-item__descr_bg3 {
    background: url("../img/3.png") center no-repeat;
}

.control-item__number {

}
.montage {
    height: 361px;
    padding:55px 0 0 51px;
    background: url("../img/montage-bg.png") no-repeat;
}
.our-team {
    position: relative;
    height:697px;
    margin-bottom:159px;
}
.our-team__descr {
    float: right;
    width: 50%;
    height: 697px;
    padding:213px 0 0 94px;
}
.team-slider {
    position: absolute !important;/*Надо было перебить стили слайдера*/
    width:50%;
    height:697px;
    left:0;
    top:0;
}
.know-price {
    height:697px;
    overflow: hidden;
    position: relative;
    margin-bottom:213px;
}
.know-price.question {
    height:570px;
    margin: 0;
}
.know-price__decr {
    width: 50%;
    height: 687px;
    float: left;
    padding:50px 0px 0px 50px;
    letter-spacing: 0.5px;
}
.know-price__01 {
    height: 152px;
    width:400px;
    padding:23px 0 0px 57px;
    background: url("../img/01.png") no-repeat;
    margin-top:51px;
}
.know-price__01 p {
    margin-bottom: 23px;

}
.know-price__02 {
    height: 152px;
    width: 342px;
    padding: 55px 0 55px 0px;
    margin-top: 52px;
    margin-right: 63px;
    background: url(../img/02.png)right no-repeat;
    float: right;
}
.know-price__03 {
    height: 152px;
    width: 342px;
    padding: 55px 0 55px 50px;
    position: absolute;
    bottom:0;
    left:0;
    background: url(../img/03.png)left no-repeat;
    color: white;
    margin:0 0 35px 61px;

}
.know-price__img {
    top:0;
    right:0;
    background: url("../img/photo1.png") no-repeat;
    width:50%;
    height:100%;
    position: absolute;
}
.payments {
  position: relative;
  overflow: hidden;
    margin-bottom:200px;
}
.payment-variant__container {
    height:697px;
    width:50%;
    position: absolute;
    left:0;
    top:0;
    background: url("../img/payment.png") no-repeat;
}
.payment-variant {
    width:603px;
    float: right;
    padding:95px 0 0 0;
}
.payment-variant__descr {
    margin-bottom: 23px;
    margin-top:15px;
    color: white;
}
.payment-order {
    height:697px;
    padding:88px 0 0 93px;
    width: 50%;
    float: right;
}
.payment-order_imgl {
    float: left;
}
.payment-order_imgr {
    float: right;
}

.payment-ul {
    float: left; 
}
.payment-order__prepaid {
    overflow: hidden;
    margin:16px 0 30px 0;
}
.payment-order__balance {
    overflow: hidden;
}
.question-slider {
    top:0;
    right:0;
    width:50%;
    height:100%;
    position: absolute !important;/*Перебить стили слайдера*/
}
.question__decr {
    height:560px;
    width: 50%;
    padding:55px 0 0 50px;
}
.question__decr_min {
    display: block;
    margin-top:18px;
}
.question__03 {
    height:203px;
    margin:87px 0 0 46px;
    background: url(../img/03.png)43% 50% no-repeat;
}
.question__03_text {
    padding:58px 0 20px 0;
}
.contacts {
    position: relative;
    height:577px;
    margin-bottom:0px;
    overflow: hidden;
}
.contacts__descr {
    float: right;
    width: 50%;
    height: 567px;
    padding:20px 0 0 91px;
}
.contacts-slider {
    position: absolute !important;/*Надо было перебить стили слайдера*/
    width:50%;
    height:567px;
    left:0;
    top:0;
}
.contacts__weekend {
    display: block;
    margin-top:20px;

}
.contacts__to-block {
    overflow: hidden;
    margin-top:50px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.contacts__to-block_left {
    float: left;
    width:50%;
}
.contacts__to-block_right {
    float: left;
    width:50%;
}
.contacts__adress {
    margin-top:50px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.contacts__confidential {
    margin-top:96px;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.contacts__confidential a {
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #282828;
    text-decoration: underline;
}
#map {
    height:570px;
}
.wrapper.reviews-content {
    height:725px;
    padding:81px 0 0 0;
}
.reviews {
    margin-bottom:161px;
}
.reviews-slider {
    height:500px;
}
.reviews-slider__item {
    position: relative;
    width:1200px;
    height: 500px !important;
}
.reviews-slider__info {
    position: absolute;
    left:260px;
    top:213px;
}
.reviews-slider__img {
    position: absolute;
    width: 612px;
    height: 361px;
    left:336px;
}
.reviews-slider__photo {
    width: 174px;
    height: 174px;
    float: left;
}
.reviews-slider__info-wrap {
    overflow: hidden;
}
.reviews-slider__descr {
    width:697px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
.reviews-slider__name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ff4e00;
    display: inline-block;
    margin: 152px 0 0 14px;
}

.hidden { }
.loader { }
.loader_inner { }
.elements_list { }